@{
    ViewBag.Title = "Roles by User";
    string userId = ViewBag.UserId;
}

<h2>Roles by User</h2>
<h3>User: @ViewBag.UserName</h3>

<p>
    @Html.ActionLink("Add a Role", "AddRoleToUser", new { userId = userId })
</p>
<table class="table">
    <tr>
        <th>
            User Role
        </th>
        <th></th>
    </tr>

    @if (ViewBag.RolesForUser != null)
    {
        foreach (var role in ViewBag.RolesForUser)
        {
            <tr>
                <td>
                    @role
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteRoleForUser", new { userId = userId, roleName = role })
                </td>
            </tr>
        }
    }
</table>