@{
    ViewBag.Title = "Admin Page";
}

<h2>Admin</h2>

@Html.ActionLink("Games", "Index", "Games") <br />
@Html.ActionLink("Reviews", "Index", "GameReviews")<br />
@Html.ActionLink("Users", "Index", "Account")<br />
@Html.ActionLink("Roles", "Index", "IdentityRoles")<br />